/* home.module.css */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  padding: 0 2em;
  text-align: center;
  gap: 0.5em ;
}

.header {
  margin-bottom: 2em;
}

.title {
  font-family: "Arial Black", sans-serif;
  font-size: 3em;
  margin: 0;
}

.subtitle {
  font-family: "Arial", sans-serif;
  font-size: 1.5em;
  margin: 0.5em 0;
}

.ctaButton {
  background-color: #ff6347;
  border-color: #ff4500;
  color: white;
  padding: 1em 2em;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 1.5em; /* Añadir margen superior para separar del subtítulo */
}

.ctaButton:hover {
  background-color: #ff4500;
  
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0em;
}

