.cardContainer {
    display: flex;
    background-color: #8E94F2;
    margin: 1.5em;
    padding: 1em;
    align-items: center;
    font-size: 1em;
    text-align: left;
    img {
        height: 120px;
        padding: 20px;
    }
}

.textArea {
    display: flex;
    flex-direction: column;
    gap: 1px;
}